@import './vars';

.button{
    background-color: orange;
    color: $text-color;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 60px;
    margin-right: 10px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }
}

.button[disabled]{
    background-color: white;
    border-color: lightgrey;
    color: lightgrey;
}

.button.active{
    background-color: $text-color;
    color: white;
}

.button[disabled].active{
    background-color: lightgrey;
    border-color: lightgrey;
    color: white;    
}