@import 'vars';
.main-controls{
    padding: 25px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.33s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    &.active{
        margin-left: 0;
        width: 100%;
    }
    &.inactive{
        margin-left: -700px;
        width: 0;
    }
    section{
        width: 100%;
        border-radius: 10px;
        margin: 10px auto;
        padding: 5px 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        &.disabled{
            color: lightgrey;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }
    .toggle-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.operators{
            justify-content: flex-start;
            .button{
                margin-right: 5px;
            }
        }
        align-items: center;
        margin-bottom: 5px;
    }
    .button{
        color: $text-pale;
        font-size: 2rem;
        transition: 0.33s;
        background-color: white;
        border: 1px solid $text-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .button[disabled], .button[disabled].active{
        background-color: lightgrey;
        border: none;
    }
    .button.active{
        color: white;
        background-color: $text-color;
        border: none;
    }
    & > .button {
        border: none;
        text-align: right;
        align-self: flex-end;
    }
}

@media screen and (min-width: 640px){
    .main-controls.active{
        width: 500px;
    }
}
