.frac{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    margin: 0 0.12rem;
}
.frac > span{
    display: block;
    font-size: 0.64em;
    padding: 0.1em;
}
.frac > span.denominator{
    border-top: 2px solid rgba(27, 79, 114, 0.875);
}
.frac > span.vinculum{
    display: none;
}

.whole{
    margin: 0 0.12rem;
}