@import 'vars';

header{
    color: white;
    background-color: $text-color;
}

.title-bar{
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    padding-left: 10px;
}

.top-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    label{
        margin: auto 10px;
        input{
            transition: 0.33s;
            font-family: $font-family;
            font-size: 1rem;
            margin-left: 5px;
            padding: 7px 5px 7px 10px;
            border: 2px solid white;
            border-radius: 3px;
            &:focus{
                outline: none;
                border: 2px solid orange;
            }
        }
    }
    .button{
        background-color: orange;
        color: $text-color;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
}